.adminPage {
   display: flex;
   flex-direction: column;
  
}
.adminItem {
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid yellow;
    border-radius: 20px;
    padding: 30px;
    margin: 30px;
    
}
.itemrow {
    width: 100%;
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
    font-size: x-large;
    color: beige;
    padding: 10px;
   
    
}
input {
  background-color: rgb(78, 77, 77);
  border-radius: 20px;
  font-size: x-large;
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
}
  input :placeholder {
    color: black;
    font-weight: bolder;
  }

  .adminh {
    margin: 40px;
    font-size: xx-large;
  }

  .itemName {
    font-weight: bold;
    font-style: oblique;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
  }
  .iteminfo {
    display: flex;
    flex-direction: column;
  }

  .ordercont {
   padding: 30px;
    background-color: black;
    border: 1px solid yellow;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
  }
  .servicelk {
    padding: 30px;
    background-color: black;
    border: 1px solid yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
  }

  .head {
    text-align: center;
  }
  .calendar{
    padding: 10px;
    color: rgb(239, 189, 114);;
    font-size: 2rem;
    text-shadow: 1px 1px 1px orangered;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

 