/* .container {
    padding: 40px;

background-color: blue;

  }
   */

  /* .slick-list{
    margin: auto;
  
    display: flex;
    flex-direction: column;
  
  } */
  .slick-dots li{

    background-color: yellow;
    border-radius: 10px;
  }
   .slick-dots{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   }

  .slick-dots li.slick-active{

    background-color: yellow;
    border-radius: 10px;
  }
.post__img{
  width: 50%;

}


.btn {
  background-color: aqua;
}
.posts_slide_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.slick-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}
.bigslider {  display: flex;
  justify-content: center;
  align-items: center;}