/* .container {
    padding: 40px;

background-color: blue;

  }
   */

  /* .slick-list{
    margin: auto;
  
    display: flex;
    flex-direction: column;
  
  } */
  .slick-dots{
    color: yellow;
  }

.post__img{
  width: 500px;

}

.btn {
  background-color: aqua;
}
