
.footer{
 background-color: black;
 width: 100%;
    display: flex;
    flex-direction: row;
   
   
}
a{
   font-weight: 900;
    text-decoration: none;
}
.footer .box-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  padding: 50px;
    /* grid-template-rows: repeat(auto-fit, minmax(25rem, 1fr)); */
    /* gap:20px; */
}

.footer .box-container .box2 h3{
    font-size: 2.2rem;
    /* padding:1rem 0; */
    color:gold;
}
.footer .box-container .box h3{
    font-size: 2.2rem;
    padding:1rem 0;

  
}
.box {
    margin-left: 20px;
}
.footer .box-container .box2 a{
    display: block;
    font-size: 1.4rem;
    padding:1rem 0;
  
    color:rgb(255, 255, 255);
}
.footer .box-container .box a{
    display: block;
    font-size: 1.4rem;
    padding:1rem 0;

    color:rgb(255, 255, 255);
}

.footer .box-container .box2 a i{
    padding-right: .5rem;
 
}
.footer .box-container .box a i{
    padding-right: .5rem;
  
}
.footer .box-container .box .footerlink{
    padding-right: .5rem;
    color: rgb(254, 254, 254);
  
}
.footer .box-container .box .footerlink:hover{
    padding-right: 2rem;
    color: yellow;
  
}


.footer .box-container .box2 a:hover i{
    padding-right: 2rem;
 
}
.footer .box-container .box a:hover i{
    padding-right: 2rem;
 
}

.footer .credit{
    text-align: center;
    /* padding:1.5rem;
    padding-top: 2.5rem;
    margin-top: 2rem; */

    font-size: 2rem;
    color:gold;
}
.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

a.nav-link.active {
    color: #0E1333;
    border-bottom: solid 2.5px #0E1333;
    padding-bottom: 2.5em;
}


.totop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
   
}

 .footeritem{
    margin:0 1rem;
    font-size:4rem;

    color: #ffc400;
  
}
.footeritem:hover{
    color: orange;
    padding-right: 2rem;
    text-shadow: 1px 1px 1px orangered;
}
.footeritem{
    text-decoration: none;
    padding-right: .5rem;
}

.footer li {
  color: aquamarine;
}