body {
  overflow-x: hidden;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    display: flex;
    
}


#b1 {
  padding-top: 1.3%;
  padding-bottom: 1.3%;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 120%;
  border-radius: 30px;
  border-width: 3px;
  margin: 24px;
}

.btn {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
}

.content {
  position: absolute;
  bottom: 0;
  color: #f1f1f1;
  width: 100%;
  padding-left: 400px;
  padding-bottom: 200px;
  padding-left: 350px;
 
  
}

.container {
  
}





  